
.AboutPage {
    color: rgb(222, 227, 221)
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.page-title {
    margin: 0;
    padding-top: 2.5em;
}

.logos-component {
    padding-bottom: 2em;
}